@model IEnumerable<WenShenERP.Models.Province>

@{
    ViewBag.Title = "Index";
}
<table width="98%" border="0" cellspacing="0" cellpadding="0" id="table_main_title">
    <tr>
        <td style="padding-left:13px;">省份数据管理</td>
        <td width="50"><input type="submit" class="buttonStyle1" value="新建" onclick="javascript: location.href='/Home/Create'" /></td>
        <td width="50"><input type="button" class="buttonStyle1" value="返回" onclick="javascript: history.go(-1)" /></td>
    </tr>

</table>

<table width="98%" border="0" cellspacing="0" cellpadding="0" id="table_list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceCode)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceCode)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ProvinceID }) |
            @Html.ActionLink("详细", "Details", new { id=item.ProvinceID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ProvinceID })
        </td>
    </tr>
}

</table>
